{% extends 'base.html.twig' %}




{% block stylesheets %}
    {# <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="{{ asset('css/organigramme.less') }}">#}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/partenaires.css') }}" />   
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
{% endblock %}

{% block body %}
<main role="main">
    <div class="container">
        <h1>Partenaires</h1>
        <div class="row">
            <div class="col-md-4"><a class="partenaire" href="http://www.afaup.org" target="_blank"><img src="{{ asset('img/logos_partenaires/afaup.png') }}" title="AFAUP: Association française d'Agriculture Française Professionnelle" onmouseover="this.src='../public/img/index.jpg';" onmouseout="this.src='{{ asset('img/logos_partenaires/afaup.png') }}';" ></a></div> 
            <div class="col-md-4"><a class="partenaire" href="https://www.astredhor.fr" target="_blank"><img src="{{ asset('img/logos_partenaires/astredhor.png') }}" title="Astredhor: Institut technique de l'horticulture"></a></div>  
            <div class="col-md-4"><a class="partenaire" href="http://www.atelierdesmediterranees.com" target="_blank"><img src="{{ asset('img/logos_partenaires/atelier_mediterannee.png') }}" title="Atelier des Méditerranées: Expertise,travail et conception autour des la Méditerranée"></a></div> 
            <div class="col-md-4"><a class="partenaire" href="https://www.blue-set.com/" target="_blank"><img src="{{ asset('img/logos_partenaires/blueset.png') }}" title="Blueset: entreprise de génie écologique"></a></div> 
            <div class="col-md-4"><a class="partenaire" href="https://fondationcarasso.org/fr" target="_blank"><img src="{{ asset('img/logos_partenaires/carasso.png') }}" title="fondation Daniel et Nina Carasso: organisation de soutien"></a></div>  
            <div class="col-md-4"><a class="partenaire" href="http://www.cultures-permanentes.com" target="_blank"><img src="{{ asset('img/logos_partenaires/cultures_permanentes.png') }}" title="Cultures Permanentes: Promouvoir, accompagner et réaliser la transition écologique; Concevoir en s’inspirant de la nature"></a></div>  
            <div class="col-md-4"><a class="partenaire" href="http://www.esia.org" target="_blank"><img src="{{ asset('img/logos_partenaires/esia.png') }}" title="Esia Provence Alpes Côte d'Azur: financeur solidaire pour l'emploi"></a></div>  
            <div class="col-md-4"><a class="partenaire" href="http://www.inter-made.org" target="_blank"><img src="{{ asset('img/logos_partenaires/intermade.png') }}" title="Intermade: Incubateur d'entreprises sociales et solidaires"></a></div>  
            <div class="col-md-4"><a class="partenaire" href="http://www.marseille-innov.org" target="_blank"><img src="{{ asset('img/logos_partenaires/marseille_innovation.png') }}" title="Marseille Innovation: Accélérateur de croissance et attracteur de talents"></a></div>  
            <div class="col-md-4"><a class="partenaire" href="http://www.solari-architectes.com" target="_blank"><img src="{{ asset('img/logos_partenaires/solari.png') }}" title="Architectes Solari et Associés" id="img10"></a></div>  
            <div class="col-md-4"><a class="partenaire" href="https://www.facebook.com/festinsphotoniques/" target="_blank"><img src="{{ asset('img/logos_partenaires/festins_photoniques.png') }}" title="Les Festins Photoniques, association de cuisine solaire créative à Marseille" id="img11"></a></div> 
        </div>
    </div>
</main>
{% endblock %}
