{% extends 'admin_user/index.html.twig' %}

{% block pageTitle %}Liste des evenements{% endblock %}


{% block body %}


<table class="table table-hover">
    <tr>
        <th>Titre</th>
        <th>Contenu</th>
        <th>Image</th>
        <th></th>
        <th>Mettre en avant l'evenement</th>
    </tr>
{% for event in evenement %}
     <tr>
       <td> {{ event.titre }}</td>
       <td>{{ event.contenu }}</td>
        <td><img style="width:150px; height=350px;" src="{{asset('uploads/image/'~event.image ) }}"> </td> 
        <td><a class="lien_perso" href= {{ path('deleteEvenement', {'id':event.id}) }} onclick="return confirm('Etes vous sûre de vouloir supprimer cet evenement ?');">supprimer un evenement</a></td> 
        <td><a class="lien_perso" href= {{ path('eventAvant', {'id':event.id}) }} onclick="return confirm('Etes vous sûre de vouloir mettre en avant cet evenement ?');"> Mettre en avant></td>
    </tr>


    {% endfor %}
</table>   



{% endblock %}