
{% extends 'base.html.twig' %}

        {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="{{ asset('css/accueilStyle.less') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet/less" type="text/css" href="{{ asset('css/accueilStyle.less') }}" />
        {% endblock %}
        {% block javascripts %}
         <!-- Changez la source par la position réelle du fichier chez vous -->
            <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.7.1/less.min.js" ></script>
            <script
                src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
                crossorigin="anonymous">
            </script>
            <script src="{{ asset('js/accueil.js') }}"></script>
        {% endblock %}

{% block body %}
<main role="main" >
    
        <img id="logo" src ="{{ asset('img/logopresage-yellow.png')}}">
   
    <section class="container">
    {# <div class="row active-with-click"> #}
        <div class=" col-xs-12">
            <article class="material-card Green">
                <h2>
                    <span>{{ actuAvant.titre }}</span>
                    <strong>
                        <i class="fa fa-fw fa-star"></i>
                        Article
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="{{ asset('img/'~actuAvant.image)}}">
                    </div>
                    <div class="mc-description">
                   {{ actuAvant.contenu }}
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <h4>
                        Partager
                    </h4>
                    <a class="fab fa-facebook-f"></a>
                    <a class="fab fa-twitter"></a>
                    <a class="fab fa-linkedin-in"></a>
                </div>
            </article>
        </div>     
    {# </div> #}
</section>
</main>
{% endblock %}