{% extends 'base.html.twig' %}


     
        {% block stylesheets %}
        {# <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="{{ asset('css/organigramme.less') }}">#}
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/conceptCss.css') }}" /> 
        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        {% endblock %}
        {% block javascripts %}
         <!-- Changez la source par la position réelle du fichier chez vous -->
            {# <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.7.1/less.min.js" ></script> #}
            <script
                src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
                crossorigin="anonymous">
            </script>
            <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
            <script src="{{ asset('js/concept.js') }}"></script>
        {% endblock %}

{% block body %}
<main role="main" > 
<div id="wrapper">
	
	<section class="slideshow" id="js-header">
		<div class="slideshow__slide js-slider-home-slide is-current" data-slide="1">
			<div class="slideshow__slide-background-parallax background-absolute js-parallax" data-speed="-1" data-position="top" data-target="#js-header">
				<div class="slideshow__slide-background-load-wrap background-absolute">
					<div class="slideshow__slide-background-load background-absolute">
						<div class="slideshow__slide-background-wrap background-absolute">
							<div class="slideshow__slide-background background-absolute">
								<div class="slideshow__slide-image-wrap background-absolute">
									<div class="slideshow__slide-image background-absolute" style="background-image: url('{{asset('img/concept/slide1.jpg')}}');"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="slideshow__slide-caption">
				<div class="slideshow__slide-caption-text">
					<div class="container js-parallax" data-speed="2" data-position="top" data-target="#js-header">
						<h1 class="slideshow__slide-caption-title">Le Présage,du concept à l'assiette</h1>                                                              
						<a class="slideshow__slide-caption-subtitle -load o-hsub -link" href="#">
							<span class="slideshow__slide-caption-subtitle-label">Le Présage est le premier concept de restaurant où l’énergie nécessaire à la cuisine est produite directement sur place, où une partie de la production nourricière est intégrée au restaurant et où les déchets produits par l’activité sont revalorisés sur site.
							Une assiette au Présage, c’est la proposition d’une expérience sensible, une abondance pour les papilles, des produits de qualités et locaux cuits en captant les rayons directs du soleil, des déchets organiques revalorisés sur site et un jardin cultivé en permaculture et qui régénèrent le terrain… et la convivialité d’un moment de rencontre dans un cadre harmonieux !</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		
		<div class="slideshow__slide js-slider-home-slide is-next" data-slide="2">
			<div class="slideshow__slide-background-parallax background-absolute js-parallax" data-speed="-1" data-position="top" data-target="#js-header">
				<div class="slideshow__slide-background-load-wrap background-absolute">
					<div class="slideshow__slide-background-load background-absolute">
						<div class="slideshow__slide-background-wrap background-absolute">
							<div class="slideshow__slide-background background-absolute">
								<div class="slideshow__slide-image-wrap background-absolute">
									<div class="slideshow__slide-image background-absolute" style="background-image: url('{{asset('img/concept/slide2.jpg')}}');"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="slideshow__slide-caption">
				<div class="slideshow__slide-caption-text">
					<div class="container js-parallax" data-speed="2" data-position="top" data-target="#js-header">
						<h1 class="slideshow__slide-caption-title">Un restaurant propulsé au solaire</h1>
						<a class="slideshow__slide-caption-subtitle -load o-hsub -link" href="#">
							<span class="slideshow__slide-caption-subtitle-label">Le Présage recueille et utilise l’énergie du soleil pour cuisiner avec des technologies innovantes : fourneau solaire, mais également séchoir solaire, four solaire…
							L’activité principale du Présage s’organise autour d’un service de restauration semi-gastronomique le midi, pour une cinquantaine de couverts.
							L’idée est de développer la gamme de possibilités offertes par l’installation avec également une proposition de formule du soir avec tapas solaire, formules dégustations, box étudiante…
							</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		
		<div class="slideshow__slide js-slider-home-slide is-prev" data-slide="3">
			<div class="slideshow__slide-background-parallax background-absolute js-parallax" data-speed="-1" data-position="top" data-target="#js-header">
				<div class="slideshow__slide-background-load-wrap background-absolute">
					<div class="slideshow__slide-background-load background-absolute">
						<div class="slideshow__slide-background-wrap background-absolute">
							<div class="slideshow__slide-background background-absolute">
								<div class="slideshow__slide-image-wrap background-absolute">
									<div class="slideshow__slide-image background-absolute" style="background-image: url('{{asset('img/concept/slide3.jpg')}}');"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="slideshow__slide-caption">
				<div class="slideshow__slide-caption-text">
					<div class="container js-parallax" data-speed="2" data-position="top" data-target="#js-header">
						<h1 class="slideshow__slide-caption-title">Du jardin comestible à l'économie symbiotique</h1>
						<a class="slideshow__slide-caption-subtitle -load o-hsub -link" href="#">
							<span class="slideshow__slide-caption-subtitle-label">Outre le service de restauration, le Présage, en tant que projet innovant dans les champs de la cuisine, de l’énergie et de la synergie entre plusieurs systèmes, a également vocation a développer une démarche de sensibilisation et de transmission, à travers divers ateliers, évènements, visites, etc… qui sauront créer, en partenariat avec les autres organes du quartiers, une dynamique de partage emblématique dans un lieu exemplaire.
							L’ensemble se veut être un mélange de bon sens, de conscience environnementale et de développement de l’activité dans un climat, au rythme des saisons, dans un lieu et un paysage.</span>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="slideshow__slide js-slider-home-slide is-prev" data-slide="4">
			<div class="slideshow__slide-background-parallax background-absolute js-parallax" data-speed="-1" data-position="top" data-target="#js-header">
				<div class="slideshow__slide-background-load-wrap background-absolute">
					<div class="slideshow__slide-background-load background-absolute">
						<div class="slideshow__slide-background-wrap background-absolute">
							<div class="slideshow__slide-background background-absolute">
								<div class="slideshow__slide-image-wrap background-absolute">
									<div class="slideshow__slide-image background-absolute" style="background-image: url('https://images.pexels.com/photos/196666/pexels-photo-196666.jpeg?auto=compress&cs=tinysrgb&h=1080&w=1920');"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="slideshow__slide-caption">
				<div class="slideshow__slide-caption-text">
					<div class="container js-parallax" data-speed="2" data-position="top" data-target="#js-header">
						<h1 class="slideshow__slide-caption-title">Pour une alimentation durable</h1>
						<a class="slideshow__slide-caption-subtitle -load o-hsub -link" href="#">
							<span class="slideshow__slide-caption-subtitle-label">
							A travers une offre de restauration de qualité et une approche ludique, le projet est de questionner et d’accompagner les différents publics (convives, scolaires, professionnels) sur leurs relations à la nouveauté, au bien-être nutritionnel et à la transition énergétique. Expérimentation pilote, le projet vise à anticiper les modes de production, de transformation et de consommation imposés par le changement climatique.
							Le Présage, c’est finalement un lieu de recherche et de diffusion des meilleures pratiques en terme d’alimentation durable.
							Premier concept en Europe d’un système alimentaire global, innovant et régénératif, alliant énergies indigènes et jardin comestible.
							</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		
		
		<div class="c-header-home_footer">
			<div class="o-container">
				<div class="c-header-home_controls -nomobile o-button-group">
					<div class="js-parallax is-inview" data-speed="1" data-position="top" data-target="#js-header">
						<button class="o-button -white -square -left js-slider-home-button js-slider-home-prev" type="button">
							<span class="o-button_label">
								<svg class="o-button_icon" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-prev"></use></svg>
							</span>
						</button>
						<button class="o-button -white -square js-slider-home-button js-slider-home-next" type="button">
							<span class="o-button_label">
								<svg class="o-button_icon" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-next"></use></svg>
							</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</section>

	<svg>
		<symbol viewBox="0 0 18 18" id="arrow-next">
			<path id="arrow-next-arrow.svg" d="M12.6,9L4,17.3L4.7,18l8.5-8.3l0,0L14,9l0,0l-0.7-0.7l0,0L4.7,0L4,0.7L12.6,9z"/>
		</symbol>
		<symbol viewBox="0 0 18 18" id="arrow-prev">
			<path id="arrow-prev-arrow.svg" d="M14,0.7L13.3,0L4.7,8.3l0,0L4,9l0,0l0.7,0.7l0,0l8.5,8.3l0.7-0.7L5.4,9L14,0.7z"/>
		</symbol>	
	</svg>
</main>
{% endblock %}

