{% extends 'base.html.twig' %}

        {% block stylesheets %}
        {# <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="{{ asset('css/organigramme.less') }}">#}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/contactCss.css') }}" /> 
        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        {% endblock %}
        {% block javascripts %}
         <!-- Changez la source par la position réelle du fichier chez vous -->
            {# <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.7.1/less.min.js" ></script> #}
            <script
                src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
                crossorigin="anonymous">
            </script>
            <script src="{{ asset('js/contact.js') }}"></script>
        {% endblock %}

{% block body %}

<main role="main">


     <div class="cont-contactBtn">
					<div class="cont-flip">
						<div class="front">
							<a href="#" class="btnForm btn-white flip">Envoyer Nous Message</a>
						</div>
						<div class="back">
							<a href="#" class="flip close"></a>
							<div class="contact-form">
                            {{ form_start(form) }}
                            {{ form_widget(form) }} 
                            <input id="submit" type="submit" value="envoyer">
                            {{ form_end(form) }} 
							</div>
						</div>
					</div>

</main>
                  
        
{% endblock %}